@charset="UTF8"
body{
			background-color: white;
			color: rgba(0,0,0,1);
		
				}
				h1{
					font-family: georgia;
					font-size: 35px;
					color: Black;
					text-shadow:8px 8px 8px gray;
					text-align: center;

				}
				h2{
					font-family: Georgia;
					font-size: 23px;
					color: black;
					text-align: center;
					text-shadow: 3px 3px 3px gray;
								}
				p{
					font-family: georgia;
					text-align: justify;
					font-size: 18px;
					margin: 40px;
				}				
div#interface{


}					

			
ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left:800px;


}		

li{
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	transition: background-color 2s;

	

}
li:hover {
	background-color: #606060;
	color: #000000;

}
nav{
	display: block;

}

nav a{
	color: #000000;
	text-decoration: none;
}	
nav a:hover{
	color: #ffffff;
}

a{
	color: #708090;
	text-decoration: none;
}

a:hover{
	background-color: #DCDCDC;

}

