@charset "utf-8";

form {
width: 500px;
margin: auto;
font-size: 13pt;
font-family: sans-serif;
}

input:hover, select:hover, textarea:hover td:hover{
	background-color: #dddd;


}

body{
	background-color: #dedede;
}

legend{
	font-family: cursive;
	text-shadow: 5px 5px 5px #848484;

}















